<div class="container">
    <button (click)="add()">add</button>
    
       <table class="table">
        <thead>
            <th>Sr No.</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>designation</th>
            <th>Salary</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of userService.emp; index as i;">
            <td>{{i+1}}</td>
            <td>{{item.firstname}}</td>
            <td>{{item.lastname}}</td>
            <td>{{item.designation}}</td>
            <td> {{item.salary}}</td>
            <td><button (click)="edit(i)">edit</button></td>
            <td><button (click)="delete(i)">delete</button></td>
        </tr>
    </tbody>
      </table>
        
   
</div>
